<ion-header collapse="fade" [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title>
      <p>Your Favorite Trail</p>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <hr class="hr-transparent hr-small">
  <div class="ion-padding-horizontal ion-margin-bottom-medium">

    <ion-card class="ion-no-margin ion-margin-bottom-large custom-card animate__animated animate__fadeIn" routerLink="/trails/laguna">
      <div class="card-img-header" style="background: url(../../../../assets/img/t1.jpg)"></div>
      <ion-card-content>
        <div class="custom-card-content-title">
          <p>Laguna Coast Wilderness Park</p>
          <div class="custom-card-content-rating">
            <ion-badge class="custom-badge ion-no-padding" color="white">
              <ion-icon class="ion-margin-right-small" color="secondary" name="star"></ion-icon>
              <ion-label color="secondary">4.6</ion-label>
            </ion-badge>
          </div>
        </div>
        <span class="custom-card-content-description">Hiking · Biking · Equestrian</span>
      </ion-card-content>
    </ion-card>

  </div> 


  <div class="ion-block text-divider ion-padding-horizontal ion-margin-vertical">
    <span></span>
  </div>

  <div class="ion-padding-horizontal ion-margin-bottom-medium">
    <ion-list class="item-card-list item-card-list-dishes item-card-list-medium" lines="none">
      <ion-item>
        <ion-label>
          <h3>Not sure where to go?</h3>
        </ion-label>
        <ion-button color="white" class="ion-button-small" slot="end" routerLink="/explore">
          Surprise me
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" routerLink="/explore">
    Explore more trails
  </ion-button>
</ion-footer>